<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>22000</string>
	<string>C2.wav</string>
	<string>72</string>
	<string>72</string>
	<string>C2#.wav</string>
	<string>73</string>
	<string>73</string>
	<string>D2.wav</string>
	<string>74</string>
	<string>74</string>
	<string>D2#.wav</string>
	<string>75</string>
	<string>75</string>
	<string>E2.wav</string>
	<string>76</string>
	<string>76</string>
	<string>F2.wav</string>
	<string>77</string>
	<string>77</string>
	<string>F2#.wav</string>
	<string>78</string>
	<string>78</string>
	<string>G2.wav</string>
	<string>79</string>
	<string>79</string>
	<string>G2#.wav</string>
	<string>80</string>
	<string>80</string>
	<string>A2.wav</string>
	<string>81</string>
	<string>81</string>
	<string>A2#.wav</string>
	<string>82</string>
	<string>82</string>
	<string>B2.wav</string>
	<string>83</string>
	<string>83</string>
	<string>C3.wav</string>
	<string>84</string>
	<string>84</string>
	<string>C3#.wav</string>
	<string>85</string>
	<string>85</string>
	<string>D3.wav</string>
	<string>86</string>
	<string>86</string>
	<string>D3#.wav</string>
	<string>87</string>
	<string>87</string>
	<string>E3.wav</string>
	<string>88</string>
	<string>88</string>
	<string>F3.wav</string>
	<string>89</string>
	<string>89</string>
	<string>F3#.wav</string>
	<string>90</string>
	<string>90</string>
	<string>G3.wav</string>
	<string>91</string>
	<string>91</string>
	<string>G3#.wav</string>
	<string>92</string>
	<string>92</string>
	<string>A3.wav</string>
	<string>93</string>
	<string>93</string>
	<string>A3#.wav</string>
	<string>94</string>
	<string>94</string>
	<string>B3.wav</string>
	<string>95</string>
	<string>95</string>
</array>
</plist>
